Package: com.fidele007.noticopy
Name: NotiCopy
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: Long press on notifications on Lock Screen and in Notification Center to copy the text.
Maintainer: fidele007 <kforcefidele@yahoo.com>
Author: fidele007 <kforcefidele@yahoo.com>
Section: Tweaks
